.productDetail {
    display: flex;
}
.productDetailRow:nth-child(1) {
    width: 100%;
    max-width: 40%;
}
.productDetailRow:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 60px;
}
.productDetailRow img {
    width: 100%;
}

.productDetail p {
    margin: 0;
}
.productDetail span {
    font-weight: bold;
}
.productDetail button {
    width: 70%;
    margin: 0 auto;
    display: block;
    height: 30px;
    font-weight: bold;
}