.ItemList {
    padding: 0;
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.ItemList p {
    width: 300px;
}
.ItemList h2 {
    font-family: 'Crimson Pro', serif;
    text-align: center;
    font-size: 45px;
    color: #064ebe;
    margin: 0;
}
.ItemList ul {
    width: 1320px;
    padding: 0;
}
.ItemList li {
    list-style: none;
    width: 300px;
    float: left;
    margin: 15px;
    box-shadow: 0px 0px 17px -6px #000;
    border-radius: 10px;
}