.ItemList {
    padding: 50px 0;
    margin: 0 auto;
    width: 1170px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.ItemList p {
    width: 300px;
}
.ItemList h2 {
    text-align: center;
}
.ItemList ul {
    width: 100%;
    padding: 0;
}
.ItemList li {
    list-style: none;
    width: 350px;
    float: left;
    margin: 20px;
}